*{
    margin: 0;
    padding: 0;
}
#navigation{
    display: flex;
    background-color: #001d39;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}
.technologia{
    padding: 1rem;
}
.searchDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: #fff;
    border: 1px solid rgb(241, 193, 18);
    border-radius: 5px;
}
.searchDiv i {
    color: #000;
}
.search{
    border: none;
    margin-left: 10px;
    width: 85%;
    height: 2rem;
}
input:focus {
  outline: none;
  border: 1px solid transparent; 
}

.home,.about{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
main{
    display: flex;
}
.main{
    padding: 2.5rem;
    width: 75%;
    background-color: #6ea2b3;

}
